In [11]:
import spacy
import pandas as pd

In [ ]:
nlp = spacy.load("en_core_web_sm")
emma_ja = "emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own"

emma woodhouse handsome clever and rich with a comfortable home and happy disposition seemed to unite some of the best blessings of existence and had lived nearly twentyone years in the world with very little to distress or vex her she was the youngest of the two daughters of a most affectionate indulgent father and had in consequence of her sisters marriage been mistress of his house from a very early period her mother had died too long ago for her to have more than an indistinct remembrance of her caresses and her place had been supplied by an excellent woman as governess who had fallen little short of a mother in affection sixteen years had miss taylor been in mr woodhouses family less as a governess than a friend very fond of both daughters but particularly of emma between them it was more the intimacy of sisters even before miss taylor had ceased to hold the nominal office of governess the mildness of her temper had hardly allowed her to impose any restraint and the shadow of authority being now long passed away they had been living together as friend and friend very mutually attached and emma doing just what she liked highly esteeming miss taylors judgment but directed chiefly by her own

In [ ]:
# Initializing spacy object with the string
spacy_doc = nlp(emma_ja)

In [ ]:
# Initialiizing pandas dataframe to store tokens and their part of speech tags
pos_df = pd.DataFrame(columns=["token", "pos_tag"])

In [ ]:
# Looping through each token in the spacy object and adding it to the dataframe, along with its part of speech tag
for token in spacy_doc: 
    pos_df = pd.concat([pos_df, 
        pd.DataFrame({"token": [token.text], "pos_tag": [token.pos_]})], 
        ignore_index=True)
pos_df

          token pos_tag
0          emma   PROPN
1     woodhouse   PROPN
2      handsome     ADJ
3        clever     ADJ
4           and   CCONJ
...         ...     ...
1065   directed    VERB
1066    chiefly     ADV
1067         by     ADP
1068        her    PRON
1069        own     ADJ

[1070 rows x 2 columns]

In [ ]:
# Creating a dataframe with counts of each token and its part of speech tag, sorted by counts in descending order
pos_df_counts = pos_df.groupby(["token", "pos_tag"]).size().reset_index(name="counts").sort_values(by="counts", ascending=False)

In [48]:
pos_df_counts.head(10)

    token pos_tag  counts
88     of     ADP      70
54    her    PRON      45
49    had     AUX      45
6     and   CCONJ      40
111   the     DET      40
0       a     DET      30
114    to    PART      25
61     in     ADP      20
120  very     ADV      20
13   been     AUX      20

In [ ]:
# Creating a series with counts of each part of speech tag, sorted by counts in descending order
pos_df_poscounts = pos_df_counts.groupby(["pos_tag"])["token"].count().sort_values(ascending=False)

In [52]:
pos_df_poscounts.head(10)

pos_tag
NOUN     35
VERB     19
ADJ      18
ADV      18
PRON      9
ADP       8
PROPN     6
DET       5
AUX       4
CCONJ     3
Name: token, dtype: int64

In [53]:
nouns = pos_df_counts[pos_df_counts.pos_tag == "NOUN"][:10]
nouns

         token pos_tag  counts
48   governess    NOUN      15
46      friend    NOUN      15
130      years    NOUN      10
28   daughters    NOUN      10
35        emma    NOUN      10
82      mother    NOUN      10
103    sisters    NOUN      10
1    affection    NOUN       5
11   authority    NOUN       5
32    distress    NOUN       5