In [1]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import stopwords
import re
import pandas as pd

In [3]:
data = pd.read_csv(r"D:\Personal_Projects\ai-bootcamp\section_21_Text_Preprocessing\tripadvisor_hotel_reviews.csv")

In [10]:
print(data)
data.info()
data.head()

                                                Review  Rating
0    nice hotel expensive parking got good deal sta...       4
1    ok nothing special charge diamond member hilto...       2
2    nice rooms not 4* experience hotel monaco seat...       3
3    unique, great stay, wonderful time hotel monac...       5
4    great stay great stay, went seahawk game aweso...       5
..                                                 ...     ...
104  fairmont hotel singapore splendid, stayed fair...       5
105  great hotel stayed hotel night route perth chr...       4
106  great hotel centre stayed 5 nights room overlo...       4
107  great location great value great hotel husband...       5
108  lovely hotel great location stayed vacation to...       5

[109 rows x 2 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  109 non-null    object
 1   Rating  109 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.8+ KB

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [11]:
data["review_lowercase"] = data["Review"].str.lower()

en_stopwords = stopwords.words("english")
en_stopwords.remove("not")

data["review_no_stopwords"] = data["review_lowercase"].apply(lambda x: " ".join([word for word in x.split() if word not in (en_stopwords)]))
data["review_no_stopwords_punctuation"] = data.apply(lambda x: re.sub(r"[*]", " star", x["review_no_stopwords"]), axis=1)
data["review_no_stopwords_punctuation"] = data["review_no_stopwords"].apply(lambda x: re.sub(r'[^\w\s]', "", x))
data["tokenized"] = data["review_no_stopwords_punctuation"].apply(lambda x: word_tokenize(x))

In [12]:
data.head()
data["tokenized"][0]

['nice',
 'hotel',
 'expensive',
 'parking',
 'got',
 'good',
 'deal',
 'stay',
 'hotel',
 'anniversary',
 'arrived',
 'late',
 'evening',
 'took',
 'advice',
 'previous',
 'reviews',
 'valet',
 'parking',
 'check',
 'quick',
 'easy',
 'little',
 'disappointed',
 'nonexistent',
 'view',
 'room',
 'room',
 'clean',
 'nice',
 'size',
 'bed',
 'comfortable',
 'woke',
 'stiff',
 'neck',
 'high',
 'pillows',
 'not',
 'soundproof',
 'like',
 'heard',
 'music',
 'room',
 'night',
 'morning',
 'loud',
 'bangs',
 'doors',
 'opening',
 'closing',
 'hear',
 'people',
 'talking',
 'hallway',
 'maybe',
 'noisy',
 'neighbors',
 'aveda',
 'bath',
 'products',
 'nice',
 'not',
 'goldfish',
 'stay',
 'nice',
 'touch',
 'taken',
 'advantage',
 'staying',
 'longer',
 'location',
 'great',
 'walking',
 'distance',
 'shopping',
 'overall',
 'nice',
 'experience',
 'pay',
 '40',
 'parking',
 'night']

In [14]:
ps = PorterStemmer()
data['stemmed'] = data['tokenized'].apply(lambda tokens: [ps.stem(token) for token in tokens])

In [15]:
lemmatizer = WordNetLemmatizer()
data['lemmatized'] = data['tokenized'].apply(lambda tokens: [lemmatizer.lemmatize(token) for token in tokens])
data['lemmatized']

0      [nice, hotel, expensive, parking, got, good, d...
1      [ok, nothing, special, charge, diamond, member...
2      [nice, room, not, 4, experience, hotel, monaco...
3      [unique, great, stay, wonderful, time, hotel, ...
4      [great, stay, great, stay, went, seahawk, game...
                             ...
104    [fairmont, hotel, singapore, splendid, stayed,...
105    [great, hotel, stayed, hotel, night, route, pe...
106    [great, hotel, centre, stayed, 5, night, room,...
107    [great, location, great, value, great, hotel, ...
108    [lovely, hotel, great, location, stayed, vacat...
Name: lemmatized, Length: 109, dtype: object

In [16]:
tokens_clean = sum(data['lemmatized'], [])

In [24]:
unigrams = (pd.Series(nltk.ngrams(tokens_clean, 1)).value_counts())
unigrams

(hotel,)          292
(room,)           275
(great,)          126
(not,)            122
(stay,)            95
                 ...
(electronic,)       1
(blind,)            1
(breakfasted,)      1
(stocked,)          1
(breakast,)         1
Name: count, Length: 2588, dtype: int64

In [25]:
bigrams = pd.Series(nltk.ngrams(tokens_clean, 2)).value_counts()
bigrams

(great, location)          24
(space, needle)            21
(hotel, monaco)            16
(great, view)              12
(great, hotel)             12
                           ..
(looking, decorated)        1
(decorated, maintained)     1
(maintained, staff)         1
(professional, large)       1
(large, room)               1
Name: count, Length: 8262, dtype: int64